<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post</title>
  </head>
  <body>
    <h1><%= @post.name%></h1>
    <p><%= @post.content%></p>
    <!-- <form action="/posts/<%= @post.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input id="delete" type="submit" value="delete">
    </form> -->
  </body>
</html>
